@import url('reset.css');

:root {
    --bg: #faf9f5;
    --header: #fbf4f6;
    --text: #2e2e2f;
    --white: #ffffff;
    --light-grey: #c4cad3;
    --input-outline: #2e87ba;
    --tag-1:#ceecfd;
    --tag-1-text:#2e87ba;
    --tag-2:#d6ede2;
    --tag-2-text:#13854e;
    --tag-3:#ceecfd;
    --tag-3-text:#2d86ba;
    --tag-4:#f2dcf5;
    --tag-4-text:#a734ba;
    --purple: #7784ee;
}


body {
    font-family: 'S-CoreDream-3Light';
    color: #182f2e;
    background: #faf9f5;
    box-sizing: border-box;
}


a {
    font-family: 'S-CoreDream-7ExtraBold';
    color: #182f2e;
    text-decoration: none;
}

img{
  box-sizing: initial;
}

h1 {
    font-size: 30px;
}

.validlabel{
  color: red;
  text-align: right;
}
.project {
    padding: 2rem 0;
    margin-top: 70px;
    padding-left: 2%;
    padding-right:  2%;
    max-width: 100%;
    width: 100%;
    display: inline-block;
}
.project-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.project-participants {
    display: flex;
    align-items: center;
}
.project-participants__add {

    display: inline-block;
    background: transparent;
    width: 30px;
    height: 30px;
    margin: 0 0.2rem;
    border-radius: 100rem;
    border: 1px dashed #969696;
    font-size: 0;
    cursor: pointer;
    position: relative;
}
.project-participants__add:after {
    content: "+";
    font-size: 15px;
    color: #969696;
}
.project-tasks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    grid-column-gap: 1.5rem;

}
.project-column-heading {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-column-heading__title {
    font-size: 20px;
}


.task {
    cursor: move;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.1) 0 2px 8px 0;
    margin-bottom: 1rem;
    border: 3px dashed transparent;
}
.task:hover {
    box-shadow: rgba(99, 99, 99, 0.3) 0 2px 8px 0;
    border-color: rgba(162, 179, 207, 0.2) !important;
    border: 3px dashed transparent;
}
.task p {
    font-size: 15px;
    margin: 1.2rem 0;
}
.task__tag {
    border-radius: 100px;
    padding: 2px 13px;
    font-size: 12px;
}
.task__tag--Idea {
    color: var(--tag-4-text);
    background-color: var(--tag-4);
}
.task__tag--Bug {
    color: var(--tag-3-text);
    background-color: var(--tag-3);
}
.task__tag--Task {
    color: var(--tag-2-text);
    background-color: var(--tag-2);
}
.task__tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task__options {
    background: transparent;
    border: 0;
    color: var(--light-grey);
    font-size: 17px;
}
.task__stats {
    position: relative;
    width: 100%;
    color: var(--light-grey);
    font-size: 12px;
}
.task__stats span:not(:last-of-type) {
    margin-right: 1rem;
}
.task__stats svg {
    margin-right: 5px;
}
.task__priority_green {
    width: 25px;
    height: 25px;
    border-radius: 100rem;
    background: green;
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 0;
}
.task__priority_yellow {
  width: 25px;
  height: 25px;
  border-radius: 100rem;
  background: #ffc800;
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
}
.task__priority_red {
  width: 25px;
  height: 25px;
  border-radius: 100rem;
  background: red;
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
}
.owner_tag{
    border-radius: 100px;
    padding: 2px 13px;
    font-size: 12px;
    background-color: lightsteelblue;
}
.task-hover {
    border: 3px dashed var(--light-grey) !important;
}

.task-details {
    width: 24%;
    border-left: 1px solid #d9e0e9;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    padding: 3rem 2rem;
}


.inputTask{
  display: flex;
  flex-direction: column;
}

.inputTask div{
  margin-bottom:2px;
  margin-top:2px;
  display: flex;
  justify-content: space-between;  
  align-content: center;
}
.inputTask label{
  width: 75px;
}


.inputTask input[type=text],input[type=date],select {
  border-color: gray;
  border-width: 0.1px;
  border-radius: 5px;
  width: calc(100% - 80px);
  color: gray;
  box-sizing: border-box;
  padding-left:5px;
  height:25px;

}
.inputTask input[type=text] {
  padding-left:10px;
}

.inputTask input:focus {
    outline: 2px solid var(--input-outline);
}

.inputTask select:focus {
  outline: 2px solid var(--input-outline);
}

.inputTask textarea {
    width: calc(100% - 80px);
    max-width:573px;
    height: 80px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.inputTask textarea:focus {
    outline: 2px solid var(--input-outline);
}
.inputTask-footer {
    height: 40px;
    display: flex;
    justify-content: space-between;

}

.inputTask-footer .cancel-button {
    background-color: gray;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 1.2rem;
    height: 30px;
    width: 60px;
}
.inputTask-footer .save-button {
    background-color: var(--purple);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 1.2rem;
    height: 30px;
    width: 60px;
}

.option{
  background:#c4cad3;
  z-index:100;
  height:50px; 
  width: 30px; 
  position:absolute;
}

.trashIcon{
  margin-top: 8px;
  cursor: pointer;
}

@media(min-width:1350px) {
    /*최소1024 ~ 최대,pc 크기*/
    .project {
        max-width: 100%;
    }

    .task-details {
        width: 100%;
        display: flex;
    }

    .tag-progress,
    .task-activity {
        flex-basis: 50%;
        background: var(--white);
        padding: 1rem;
        border-radius: 8px;
        margin: 1rem;
    }
    nav li:nth-of-type(3) a {
        color: #fff;
        background: #2b4443;
    }
}

/*-----------------------------------------------휴대폰-----------------------------------------------------------*/
@media(max-width:767px) {
    .project-column:nth-child(4) {
        display: none;
    }

    .project-tasks {
        grid-template-columns: 1fr;
    }

    .task-details {
        flex-wrap: wrap;
        padding: 3rem 1rem;
    }

    .tag-progress,
    .task-activity {
        flex-basis: 100%;
    }

    h1 {
        font-size: 25px;
    }
    nav li:nth-of-type(3) a {
        color: #fff;
        background: #2b4443;
    }
}

